*{
    text-align: center;
}
.main{
    background-color: rgba(39, 145, 216,0.710);
    /* filter: blur(8px);
  -webkit-filter: blur(8px); */
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
}
#popup{
    position: absolute;
width: 345px;
height: 318px;
right: 37%;
top: 25%;

background: #FFFFFF;
border-radius: 10px;
}
#file{
position: absolute;
width: 30px;
height: 30px;
top:17%;
left:43%;

}
.popup{
    height: 200px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    /* border-bottom: 2px solid black; */
    /* position: absolute; */
}
#close{
    position: absolute;
    top:2%;
    left: 85%;
}
#import_text{
    
}
#import{
    position: absolute;
    top:40%;
    
}